* {
  background-color: lightslategrey;
  font-family:'Times New Roman', Times, serif;
  color: antiquewhite;
  margin: 0;
  padding: 0;

}

body {
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filters {
  margin-bottom: 20px;

}

.filter-item {
  padding: 15px 15px;
  margin-right: 10px;
  background-color: lightblue;
  cursor: pointer;
  border: none;
  border-radius: 25px
}

.filter-item.active {
  background-color: rgb(147, 186, 199);
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-me h2{
  padding-top: 50px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
}

.about-me p {
  padding-top: 20px;
  padding-bottom: 100px;
  text-align: center;
  font-size: 27px;

}

.pic.countries h2 {
  padding-top: 20px;
  padding-bottom: 50px;
  padding-right: 200px;
  font-size: 35px;
}

.pic.countries, .pic.landscapes{
  width: calc(33.33% - 20px);
  margin: 10px;
  overflow: hidden;
}

.pic.countries img, .pic.landscapes img {
  width: 100%;
  height: auto;
}

.pic.countries p, .pic.landscapes p {
  margin-top: 10px;
}

.contact {
  font-size: 20px;
  padding: 20px;
  width: 100%;
  bottom: 15px;
}

footer {
  padding: 20px;
  width: 100%;
  bottom: 0;
}